.warrior-navbar {
  width: "100%";
  height: 70px;
  background-color: rgba(255,0,0,0.2); /*navbar colors*/
  
  align-items: center;
  padding:15px;
  gap: 30px;
  display: flex;
}
.nav-item:hover {
  cursor: pointer;
}
.nav-item {
  color: white;
}
.login-register-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
