.navbar{
    width:"100%";
    height: 70px;
    background-color: var(--clr-secondary);
    align-items: center;
 padding-inline:30px;
 gap:30px;
    display: flex;
}
.nav-item:hover{
cursor: pointer;
}
.nav-item{
    color: white;
}
.login-register-container{
    display: flex;
    flex-direction: row;
    gap:15px
}