.warrior-poses-table {
  border: 1px solid rgba(41, 41, 41, 0.2);
}
.warrior-poses-container {
  display: flex;
}
.edit-delete-scale:hover {
  transform: scale(1.1);
}

.add-warrior-pose-container {
  height: 100%;
  display: flex;
  background-image: url("../../../assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh - 80px);
  justify-content: center;
  align-items: center;
}
.addbtn {
  color: rgba(90, 90, 90, 0.651);
  text-align: center;
  width: 250px;
  background-color: rgba(41, 41, 41, 0.2);
  margin: 20px;
  display:block;
  /*margin-left: 300px;*/
  font-weight: bold;
  box-shadow: inset;
  padding: 5px;
}
