.halfSide {
  height: 100vh;
  flex: 1;
  display: flex;
  justify-content: center;
 
  align-items: center;
}
.authContainer {
  display: flex;
  flex-direction: row;
  
}
.rightSide {
  box-shadow: -29px -1px 38px -7px rgba(250, 211, 188, 0.75);
  -webkit-box-shadow: -29px -1px 38px -7px rgba(250, 211, 188, 0.75);
  -moz-box-shadow: -29px -1px 38px -7px rgba(250, 211, 188, 0.75);
  background-color: #fad3bc;
}
.authBox {
  min-height: 300px;
  background-color: #b05d41bf;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  width: 40%;
  padding-inline: 40px;
  flex-direction: column;
  box-shadow: -2px 1px 30px 9px #b05d41bf;
  -webkit-box-shadow: -2px 1px 30px 9px #b05d41bf;
  -moz-box-shadow: -2px 1px 30px 9px #b05d41bf;
  gap: 10px;
}

.inputStyle {
  border: 1px solid white;
  border-radius: 10px;
}
.inputLabel {
  text-align: center;
  color: white;
  font-weight: bold;
}
.submit-btn:hover {
  cursor: pointer;
}
.submit-btn {
  height: 30px;
  width: 100%;
  align-self: center;
  text-align: center;
  border-radius: 10px;
  margin-top: 20px;
  font-weight: bold;
}
