:root {
  --clr-primary: #fad3bc;
  --clr-secondary: rgb(176, 93, 65);
  --ff-primary: "Montserrat", sans-serif;
 
}

/* Remove default margin */

* {
  margin: 0;
  padding: 0;
  font: inherit;
}
.align-row
{
display: flex;
flex-direction: row;
gap: 15px;
}/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
html,
root,
body {
  min-height: 100vh;
  position: relative;
  font-family: var(--ff-primary);
  color: white;
  background-color: white;
  z-index: -1;
}
/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.8;
}

.btnclick:hover {
  box-shadow: 0 0 5px var(--clr-secondary);
}
.btnclick:active {
  opacity: 0.6;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

select {
  height: 30px;
  border-radius: 10px;
  border-color: white;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.bg-primary {
  background-color: var(--clr-primary);
}
.bg-secondary {
  background-color: var(--clr-secondary);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
