.warrior-pose-card-container {
  flex: 1;
  flex-basis: 30%;
  max-width: 30%;
  margin: 1%;
  background-color: white;
  color: rgba(66, 66, 66, 0.396);
  border: 5px groove rgba(41, 41, 41, 0.2);
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.warrior-pose-card-container:hover {
  transform: scale(1.02);
  cursor: pointer;
}
.variation-container {
  align-self: flex-end;
  justify-self: flex-end;
}
.home-big-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: calc(100vh - 80px);
  gap: 1%;
}

.single-variation {
  border: 1px solid rgba(163, 28, 28, 0.979);
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}
.img-container {
  height: 65%;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.imgFit {
  max-height: 100%;
  width: auto;
  object-fit: contain;
}
.card-name {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
}
